form {
	margin: 0 auto;
	width:500px;
	display:block;
	padding-top: 1em;
}
form div + div {
	margin-top: 1em;
}

label {
	display: inline-block;
	width: 70px;
	text-align: right;
}

input, textarea {
	font: 1em sans-serif;
	font-size: 1em;
	width: 400px;
	box-sizing: border-box;
	border: 1px solid #999;
}

input:focus, textarea:focus {
	border-color: #000;
}

textarea {
	vertical-align: top;
	height: 15em;
}
.button{
	color: #262626;
	background-color: #82b50b;
	font-family:verdana;
	font-size:1.3em;
	font-weight: bold;
    	border: none;
    	padding: 5px 15px;
    	text-align: center;
    	text-decoration: none;
    	display: inline-block;
	width:200px;
}
.button:first-of-type{
	margin-left:70px;
}
.button:hover {
	background-color: #fff100;
    	color: #262626;
	cursor: pointer;
}

.formErr{
	position: absolute;
	color: red;
	font-size: 0.9em;
}
/*========================================================================*/
ul {
	list-style-type: none;
	margin: 0 0 50px 0;
	padding: 0;
	width: 200px;
	/*border-left: 5px solid #262626;*/
}
li{
	border-bottom: 5px solid #262626;
}
li a {
  display: block;
	color:#262626;
  padding: 22px 12px;
  text-decoration: none;
	text-align: left;
	font-family:verdana;
	font-size:1.3em;
	font-weight: bold;
}
li a:hover {
	background-color: #f4fe00;
	color: #262626;
}
.active:hover {
	background-color: #f4fe00;
	color: #262626;
}

li a.active {
	background-color: #bff442;
	color: #262626;
}

/*Lists */
ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

ol li{
	border-bottom: 0px solid #262626;
	color:#bff442;
  padding: 0px 0px;
  text-decoration: none;
	text-align: left;
	font-family:verdana;
	font-size:1em;
}
/*========================================================================*/
body {
	background-image:url("img/bckground.png");
}
.main{
	width:auto;
	max-width: 1000px;
	margin: auto;
	position:relative;
}
.content{
	/*display:table;*/
	float:left;
	display: grid;
  grid-template-columns: 1fr 5fr;
	/*border-top: 5px solid #82b50b;*/
}
.content-left{
	/*width:200px;*/
	background-color: #82b50b;
}
.content-right{
	padding:0px 20px 0px 20px;
	/*width:780px;*/
	text-align:left;
	/*border-left: 5px solid #82b50b;*/
}
.partners{
	text-align:center;
	color:#262626;
    	font-family:verdana;
    	font-size: 1.8em;
			/*font-size: 3vw;*/
		/*	display: block;*/
		width: 200px;
	font-weight: bold;
}
.partners img{
	padding-bottom:10px;
}
#google-maps{
	width:100%;
	height:200px;
	border:0;
}
/*========================================================================*/
.font-basic{
	color:#bff442;
    	font-family:verdana;
    	font-size:1.2em;
}
.font-link{
	color:#bff442;
   	font-family:verdana;
    	font-size:1.2em;
	text-decoration: underline;
	font-weight:normal;
}
.font-link:hover{
	color:#f4fe00;
}
.partners .font-link{
	color:#262626;
   	font-family:verdana;
    	font-size:  0.7em;

	text-decoration: underline;
	font-weight:bold;
/*	line-height: 2em;*/
}
.partners .font-link:hover{
	color:#f4fe00;
}
.font-highlight{
	/*color:#2e8b57; Tmavě zelená*/
	color:#f4fe00; /*Světle žlutá*/
	/*color: #dbe400; /*Tmavě žlutá*/
	font-weight:bold;
	font-size:1.33em;
}
.font-title{
	font-size:1.8em;
	font-weight:bold;
	color: #f4fe00;
	text-align:center;
	margin:auto;
	display: block;
	/*height: 2em;*/
	/*width: 100%;*/
}
.font-extra-height{
	line-height: 1.8em;
	font-size:1.2em;
}
/*========================================================================*/
